{% extends "layout/base.html" %}

{% block title %}Page d'inscription{% endblock %}

{% block content %}
    {% if error != None %}
        <div>
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ url_for('inscription') }}" method="POST">
        <div>
            <label for="username">Nom d'utilisateur</label>
            <input  class="form-control" id="username" type="text" name="username" placeholder="Entrez votre nom d'utilisateur" />
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="Entrez votre mot de passe" />
        </div>
        <div>
            <label for="username">Confirmez votre nom d'utilisateur</label>
            <input class="form-control" id="username" type="text" name="username" placeholder="Confirmez votre nom d'utilisateur" />
        </div>
        <div>
            <label for="password">Confirmez votre mot de passe</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="Confirmez votre mot de passe" />
        </div>
        <div>
            <button type="submit">Inscrire</button>
        </div>
    </form>
{% endblock %}